// mixinをインポート
@use "../tools/mixin" as *;
@use "../tools/function" as *;

body {
  font-family: "IBM Plex Sans JP", sans-serif;
}

// テキストの最大幅
p, h1, h2, h3, h4, h5, h6, ul, ol {
  max-inline-size: var(--max-inline-size);
  margin-block: var(--leading-trim);
}

// 見出し
h1, h2, h3, h4, h5, h6 {
	color: var(--color);
	line-height: 1.5;
  text-wrap: pretty;
  word-break: auto-phrase;
}

h1 {
  // 24px 〜 36px
  font-size: clamp-size(var(--font-size-2xl), var(--font-size-4xl));
}

h2 {
  // 20px 〜 24px
  font-size: clamp-size(var(--font-size-l), var(--font-size-2xl));
  font-weight: 600;
}

h3 {
  // 18px 〜 20px
  font-size: clamp-size(var(--font-size-m), var(--font-size-l));
  font-weight: 600;
}

h4 {
  // 16px 〜 18px
  font-size: clamp-size(var(--font-size-m), var(--font-size-l));
  font-weight: 600;
}

// テキスト
p {
  // 12px 〜 16px
  font-size: clamp-size(var(--font-size-xs), var(--font-size-m));
  line-height: 1.7;
}

a {
  font-weight: 500;
	letter-spacing: .1em;
	text-transform: uppercase;
  text-decoration: none;
}

// リスト
ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

button {
	display: inline-block;
	inline-size: 100%;
	block-size: 100%;
	border: none;
}

input {
	border: none;

  // ボーダーの基本単位
  outline: var(--border-width) solid var(--color-border-low);
  outline-offset: calc(var(--border-width) * -1);
}

form {
	border: none;
}

