---
import Layout from "@layouts/Layout.astro";
import Stack from "@elements/stack.astro";
import Box from "@/components/elements/box.astro";
---

<Layout pageTitle="Home">
  <Stack gap={3}>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
    <Box surface="accent">
      <Stack gap={1} horizontal>
        <h2>Heading 2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quos.
        </p>
      </Stack>
    </Box>
  </Stack>
</Layout>
