---
import Layout from "@layouts/Layout.astro";

import Link from "@components/Link.astro";
import Box from "@elements/Box.astro";
import Center from "@elements/Center.astro";
import Cluster from "@elements/Cluster.astro";
import Flame from "@elements/Flame.astro";
import Grid from "@elements/Grid.astro";
import Icon from "@elements/Icons.astro";
import Sidebar from "@elements/Sidebar.astro";
import Stack from "@elements/Stack.astro";
import Switcher from "@elements/Switcher.astro";
import Search from "@components/Search.astro";
---

<Layout pageTitle="Test">
	<Cluster gap="2 6" align="center" justify="between" content="center">
		<div>test</div>
		<div>test</div>
	</Cluster>
	<Stack align="vertical" gap="3">
		<div>test</div>
		<div>test</div>
		<Stack align="horizontal">
			<div>test</div>
			<div>test</div>
		</Stack>
	</Stack>
	<Box padding="3 2">
		<p>test</p>
	</Box>
	<Center intrinsic>
		<p>test</p>
	</Center>
	<Switcher>
		<div>test</div>
		<div>test</div>
		<div>test</div>
	</Switcher>
	<Sidebar width="20rem" min="50%" side="right" noStretch>
		<div>test</div>
		<div>test</div>
	</Sidebar>
	<Grid min="300" gap="7">
		<Box padding="2" surface="accent">test</Box>
		<Box padding="2" surface="secondary">test</Box>
		<Box padding="2" surface="tertiary">test</Box>
		<Box padding="2" surface="quaternary">test</Box>
		<Box padding="2" surface="primary">test</Box>
	</Grid>
	<Flame>
		<img src="https://placehold.jp/2400x900.png" alt="test" />
	</Flame>
	<Icon gap="3" name="Text" label="test">
		<span>test</span>
	</Icon>
	<Link href="/"> test </Link>
	<Switcher>
		<Link href="/" size="small" surface="primary" icon="Text" gap="2">test</Link>
		<Link href="/" size="medium" surface="secondary" icon="Text" gap="2">test</Link>
		<Link href="/" size="large" surface="tertiary" icon="Text" gap="2">test</Link>
	</Switcher>
	<Link href="/" gap="1" align="vertical" surface="secondary"> test </Link>
	<Link href="/" icon="Text" gap="1" align="vertical" surface="tertiary"></Link>
	<Search inIcon />
</Layout>
