---
import Layout from "@layouts/Layout.astro";

import Box from "@elements/Box.astro";
import Center from "@elements/Center.astro";
import Cluster from "@elements/Cluster.astro";
import Flame from "@elements/Flame.astro";
import Grid from "@elements/Grid.astro";
import Icon from "@elements/Icons.astro";
import Sidebar from "@elements/Sidebar.astro";
import Stack from "@elements/Stack.astro";
import Switcher from "@elements/Switcher.astro";
---

<Layout pageTitle="Test">
	<Cluster gap="2 6" align="center" justify="between" content="center">
		<div>test</div>
		<div>test</div>
	</Cluster>
	<Stack align="vertical" gap="3">
		<div>test</div>
		<div>test</div>
		<Stack align="horizontal" gap="3">
			<div>test</div>
			<div>test</div>
		</Stack>
	</Stack>
	<Box padding="3 2" surface="accent">
		<p>test</p>
	</Box>
	<Center intrinsic>
		<p>test</p>
	</Center>
	<Switcher>
		<div>test</div>
		<div>test</div>
		<div>test</div>
	</Switcher>
	<Sidebar width="20rem" min="50%" side="right" noStretch>
		<div>test</div>
		<div>test</div>
	</Sidebar>
	<Grid min="300" gap="7">
		<Box padding="2" surface="accent">test</Box>
		<Box padding="2" surface="secondary">test</Box>
		<Box padding="2" surface="tertiary">test</Box>
		<Box padding="2" surface="quaternary">test</Box>
		<Box padding="2" surface="primary">test</Box>
	</Grid>
	<Flame>
		<img src="https://placehold.jp/2400x900.png" alt="test" />
	</Flame>
	<Icon gap="3" name="dummy copy" label="test">
		<span>test</span>
	</Icon>
</Layout>
